@layer components {
  .ui-button {
    @apply focus-ring inline-flex cursor-pointer items-center justify-center gap-4 rounded-sm border px-4 py-1.5 text-sm font-medium whitespace-nowrap outline-none select-none;

    /* Primary */
    &[variant='primary'],
    &:not(:has([variant])) {
      @apply bg-primary-400 border-primary-200 text-gray-800;
      @apply hover:bg-primary-200;
      @apply active:bg-primary-500;
    }

    /* Secondary */
    &[variant='secondary'] {
      @apply border-gray-300 bg-gray-100 text-gray-800;
      @apply hover:bg-white;
      @apply active:bg-gray-200;
    }

    /* Ghost */
    &[variant='ghost'] {
      @apply border-transparent bg-transparent text-gray-800;
      @apply hover:bg-gray-100;
    }

    &:disabled,
    &[disabled] {
      @apply cursor-not-allowed border-gray-200 bg-gray-50 text-gray-400 shadow-none;
      @apply hover:bg-gray-50 active:bg-gray-50;
    }
  }
}
