@layer components {
  .ui-button {
    @apply focus-visible:focus-ring inline-flex cursor-pointer items-center justify-center gap-2 rounded-sm border px-4 py-1.5 text-sm font-medium whitespace-nowrap outline-none select-none;

    /* Primary */
    &.ui-button-variant-primary {
      @apply bg-primary-400 border-primary-200 text-gray-800;
      @apply active:bg-primary-500;

      &:not(.disabled) {
        @apply hover:bg-primary-200;
      }
    }

    /* Secondary */
    &.ui-button-variant-secondary {
      @apply border-gray-300 bg-gray-100 text-gray-800;
      @apply active:bg-gray-200;

      &:not(.disabled) {
        @apply hover:bg-white;
      }
    }

    /* Ghost */
    &.ui-button-variant-ghost {
      @apply border-transparent bg-transparent text-gray-800;

      &:not(.disabled) {
        @apply hover:bg-gray-100;
      }
    }

    /* Danger */
    &.ui-button-variant-danger {
      @apply border-red-500 bg-red-500 text-white;
      @apply active:bg-red-600;

      &:not(.disabled) {
        @apply hover:bg-red-600;
      }
    }

    &.ui-button-disabled {
      @apply pointer-events-none;
      @apply opacity-50;
    }

    &.ui-button-icon-only {
      @apply px-2! text-gray-500 hover:text-gray-900;
    }
  }
}
