@layer components {
  .ui-button {
    @apply inline-flex cursor-pointer items-center gap-2 rounded-lg font-medium whitespace-nowrap;
    @apply border border-transparent;
    @apply outline-none select-none;
    @apply rounded-squircle;
    @apply default-transition;
    @apply active:scale-[0.98];

    &:focus-visible {
      @apply inset-ring-2 inset-ring-neutral-300;
    }

    /* Disabled */
    &.ui-button-disabled {
      @apply pointer-events-none;
      @apply opacity-50;
    }

    /* Primary */
    &.ui-button-variant-primary {
      @apply bg-primary-400;

      &:not(.disabled) {
        @apply hover:bg-primary-500;
      }
    }

    /* Secondary */
    &.ui-button-variant-secondary {
      @apply bg-neutral-200;

      &:not(.disabled) {
        @apply hover:bg-neutral-300;

        &.active {
          @apply bg-primary-100 text-primary-600 inset-ring-primary-100;
        }
      }
    }

    /* Ghost */
    &.ui-button-variant-ghost {
      &:not(.disabled) {
        @apply hover:bg-neutral-200;

        &.active {
          @apply bg-primary-100 text-primary-600 inset-ring-primary-200;
        }
      }
    }

    /* Danger */
    &.ui-button-variant-danger {
      @apply border-transparent bg-transparent;
      @apply text-red-500 hover:text-red-600;

      &:not(.disabled) {
        &:hover {
          @apply bg-red-50;
        }
      }
    }

    /* size */
    &.ui-button-size-sm {
      @apply px-3 py-1 text-sm;
    }

    &.ui-button-size-md {
      @apply px-4 py-2 text-sm;
    }

    &.ui-button-size-icon {
      @apply px-2 py-1.5;
    }
  }
}
