@layer components {
  .ui-form-label {
    @apply text-muted flex items-center gap-1 text-xs font-medium select-none;

    &:has(+ div .invalid) {
      @apply text-red-400;
    }
  }

  .ui-form-control {
    @apply default-border-color rounded-squircle w-full rounded-lg border bg-white text-neutral-800;
    @apply text-sm;

    > input {
      @apply h-full w-full;
      @apply px-3 py-2;
      @apply outline-none;
    }

    &:focus-within {
      @apply ring-primary-100 border-primary-300 ring-3;
    }

    &::placeholder {
      @apply text-sm text-neutral-400 italic;
    }

    &:has(> input:disabled) {
      @apply cursor-not-allowed bg-neutral-100 text-neutral-400;
    }

    &:has(input:user-invalid),
    &:has(input.invalid) {
      @apply border-red-300 ring-red-100;
    }
  }
}
