@layer components {
  .ui-form-label {
    @apply flex items-center gap-1 text-xs font-medium text-slate-600 select-none;

    &:has(+ div .invalid) {
      @apply text-red-400;
    }
  }

  .ui-form-control {
    @apply default-border-color rounded-squircle w-full rounded-lg border bg-white text-slate-800;
    @apply text-sm;

    > input {
      @apply h-full w-full;
      @apply px-3 py-2;
      @apply outline-none;
    }

    &:focus-within {
      @apply border-primary-400 ring-primary-500/20 ring-4;
    }

    &::placeholder {
      @apply text-sm text-slate-400 italic;
    }

    &:has(> input:disabled) {
      @apply cursor-not-allowed bg-slate-100 text-slate-400;
    }

    &:has(input:user-invalid),
    &:has(input.invalid) {
      @apply border-red-300 ring-red-100;
    }
  }
}
