@layer components {
  .ui-menu {
    @apply relative flex w-full flex-col rounded-sm border border-gray-300 bg-white py-1 shadow-lg outline-none;

    &[data-visible='false'] {
      @apply hidden;
    }
  }

  .ui-menu-item {
    @apply focus-visible:focus-ring flex cursor-pointer items-center justify-between gap-4 px-4 py-2 text-sm text-gray-800 outline-none select-none;
  }
}
