@layer components {
  .ui-tab-group {
    @apply flex flex-col;
  }

  .ui-tab-list {
    @apply flex border-b border-slate-200;
  }

  .ui-tab {
    @apply border-b-2 px-4 py-2 text-sm font-medium transition-colors outline-none;
    @apply border-transparent text-slate-500;
    @apply hover:text-slate-700;

    @apply focus-ring;

    &[aria-selected='true'] {
      @apply border-primary-500 text-primary-600;
    }
  }

  .ui-tab-panel {
    @apply mt-4 outline-none;
  }
}
