@theme {
  --text-*: initial;

  --text-xs: 0.75rem; /* Captions, helper text, secondary information */
  --text-sm: 0.875rem; /* Table cells, form labels, UI elements */
  --text-lg: 1.125rem; /* Used for important descriptions and lead paragraphs */

  --font-weight-*: initial;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@utility h1 {
  @apply text-[1.875rem] font-semibold;
}

@utility h2 {
  @apply text-[1.5rem] font-semibold;
}

@utility h3 {
  @apply text-[1.25rem] font-semibold;
}

@utility h4 {
  @apply text-lg font-medium;
}
