<div #ngCombobox="ngCombobox" ngCombobox [filterMode]="filterMode()" [disabled]="disabled()">
  <div #cdkOverlayOrigin cdkOverlayOrigin="cdkOverlayOrigin" class="flex flex-col gap-1">
    @if (label()) {
      <label class="ui-form-label" [for]="id()">
        <span>{{ label() }} </span>

        @if (required()) {
          <em class="text-red-500">*</em>
        }

        @if (readonly()) {
          <span>(readonly)</span>
        }
      </label>
    }

    <div class="ui-form-control relative">
      <input
        ngComboboxInput
        autocomplete="off"
        [attr.aria-label]="label()"
        [attr.enterkeyhint]="enterKeyHint()"
        [attr.inputmode]="inputMode()"
        [id]="id()"
        [name]="name()"
        [placeholder]="placeholder()"
        [spellcheck]="spellCheck()"
        [type]="type()"
        [disabled]="ngCombobox.disabled()"
        [readonly]="readonly()"
        [class.invalid]="shouldShowError()"
        [attr.aria-invalid]="shouldShowError()"
        [(value)]="inputValue"
        (blur)="touched.set(true)"
      />

      <div
        class="pointer-events-none absolute top-1/2 right-2 z-20 -translate-y-1/2 text-slate-400"
      >
        @if (loading()) {
          <ui-loading height="18" width="18" />
        } @else {
          <ui-icon name="outline-chevron-down" />
        }
      </div>
    </div>
  </div>

  @if (shouldShowError()) {
    @for (error of errors(); track error) {
      <small class="text-xs text-red-400">{{ error.message }}</small>
    }
  }

  @if (disabled() && disabledReasons().length > 0) {
    @for (reason of disabledReasons(); track reason) {
      <small class="text-xs text-slate-400">{{ reason.message }}</small>
    }
  }

  <ng-template ngComboboxPopupContainer>
    <ng-template
      [cdkConnectedOverlay]="{
        origin: cdkOverlayOrigin,
        usePopover: 'inline',
        matchWidth: true,
        offsetY: 6,
      }"
      [cdkConnectedOverlayOpen]="true"
    >
      @if (items(); as items) {
        <div
          ngListbox
          class="ui-menu"
          [class.invisible]="loading()"
          (valuesChange)="valuesChange($event)"
        >
          @if (items.length === 0) {
            <div class="ui-menu-item">No results found</div>
          }

          @for (item of items; track item[optionField()]) {
            <div ngOption class="ui-menu-item" [value]="item[optionField()]">
              <span>{{ item[optionLabel()] }}</span>
            </div>
          }
        </div>
      }
    </ng-template>
  </ng-template>
</div>
