@reference './../../../../styles.css';

.menu {
  @apply flex flex-col py-1 bg-white border border-gray-300 rounded-sm shadow-lg min-w-[200px] outline-none;
}

.menu-item {
  @apply px-4 py-2 text-sm text-gray-800 cursor-pointer select-none outline-none transition-colors;
}

.menu-item:hover,
.menu-item:focus {
  @apply bg-primary-200;
}

.menu-item:focus-visible {
  @apply focus-ring relative z-10;
}
