@reference './../../../../styles.css';

.accordion {
  @apply flex flex-col border-t default-border-color;
}

.accordion-item {
  @apply border-b default-border-color outline-none;
}

.accordion-header {
  @apply flex cursor-pointer items-center gap-2 rounded-sm bg-neutral-50 px-2 py-2 outline-none select-none;
}

.accordion-header:hover {
  @apply bg-primary-100;
}

.accordion-title {
  @apply text-sm font-semibold text-neutral-800;
}

.accordion-arrow {
  @apply text-neutral-500;
}

.accordion-arrow.expanded {
  @apply rotate-90;
}

.accordion-body {
  @apply overflow-hidden bg-white;
}

.accordion-body.hidden {
  @apply hidden;
}

.accordion-content {
  @apply p-4 text-sm leading-relaxed text-neutral-800;
}
