@reference './../../../../styles.css';

.ui-menu-item {
  &:hover {
    @apply bg-neutral-100;
  }

  &[aria-selected='true'] {
    @apply bg-primary-50 text-primary-600;
  }
}

[ngCombobox]:has([ngComboboxInput][aria-expanded='false']) .ui-menu {
  @apply hidden;
}
