<div #ngCombobox="ngCombobox" ngCombobox readonly [disabled]="disabled()">
  <div #cdkOverlayOrigin cdkOverlayOrigin="cdkOverlayOrigin" class="flex flex-col gap-1">
    @if (label()) {
      <label class="ui-form-label" [for]="id()">
        <span>{{ label() }} </span>

        @if (required()) {
          <em class="text-red-500">*</em>
        }

        @if (readonly()) {
          <span>(readonly)</span>
        }
      </label>
    }

    <div class="ui-form-control relative">
      @if (displayValue()) {
        <span class="pointer-events-none absolute top-1/2 left-0 z-20 -translate-y-1/2 px-3 py-2">
          {{ displayValue() }}
        </span>
      }

      <input
        ngComboboxInput
        readonly
        class="opacity-0 not-disabled:cursor-pointer"
        [disabled]="ngCombobox.disabled()"
        [id]="id()"
        [value]="value()"
        [placeholder]="placeholder()"
        [attr.aria-label]="label()"
        [class.invalid]="shouldShowError()"
        [attr.aria-invalid]="shouldShowError()"
        (blur)="touched.set(true)"
      />

      <div
        class="pointer-events-none absolute top-1/2 right-2 z-20 -translate-y-1/2 text-slate-400"
      >
        @if (loading()) {
          <ui-loading height="18" width="18" />
        } @else {
          <ui-icon name="outline-chevron-down" />
        }
      </div>
    </div>
  </div>

  @if (shouldShowError()) {
    @for (error of errors(); track error) {
      <small class="text-xs text-red-400">{{ error.message }}</small>
    }
  }

  @if (disabled() && disabledReasons().length > 0) {
    @for (reason of disabledReasons(); track reason) {
      <small class="text-xs text-slate-400">{{ reason.message }}</small>
    }
  }

  <ng-template ngComboboxPopupContainer>
    <ng-template
      [cdkConnectedOverlay]="{
        origin: cdkOverlayOrigin,
        usePopover: 'inline',
        matchWidth: true,
        offsetY: 6,
      }"
      [cdkConnectedOverlayOpen]="true"
    >
      <div class="ui-menu" [class.invisible]="loading()">
        @if (items()?.length) {
          <div ngListbox [values]="selectedList()" (valuesChange)="valuesChange($event)">
            @for (item of items(); track item[optionField()]) {
              <div #ngOption="ngOption" ngOption class="ui-menu-item" [value]="item[optionField()]">
                <span>{{ item[optionLabel()] }}</span>

                @if (ngOption.selected()) {
                  <ui-icon name="outline-check" width="18" height="18"></ui-icon>
                }
              </div>
            }
          </div>
        } @else {
          <div class="ui-menu-item pointer-events-none">Список пуст</div>
        }
      </div>
    </ng-template>
  </ng-template>
</div>
