@reference './../../../../styles.css';

:host {
  @apply inline-flex items-center justify-center px-4 py-1.5 text-sm transition-colors border cursor-pointer select-none whitespace-nowrap rounded-sm font-medium outline-none;
}

:host:focus,
:host:focus-visible,
:host:focus-within {
  @apply focus-ring;
}

/* Primary */
:host([variant='primary']) {
  @apply bg-primary-400 border-gray-300 text-gray-800;
}

:host([variant='primary']):hover {
  @apply bg-primary-200;
}

:host([variant='primary']):active {
  @apply bg-primary-500;
}

/* Secondary */
:host([variant='secondary']) {
  @apply bg-gray-100 border-gray-300 text-gray-800;
}

:host([variant='secondary']):hover {
  @apply bg-white;
}

:host([variant='secondary']):active {
  @apply bg-gray-200;
}

/* Ghost */
:host([variant='ghost']) {
  @apply bg-transparent border-transparent text-gray-800;
}

:host([variant='ghost']):hover {
  @apply bg-gray-100;
}