@reference '../../../../../../styles.css';

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-in {
  animation: fadeIn 0.3s ease-out;
}

.zoom-in {
  animation: zoomIn 0.3s ease-out;
}

:host {
  @apply bg-slate-50/30;
}
