<table
  ngGrid
  class="w-full border-separate border-spacing-0 text-left text-sm"
  [enableSelection]="true"
  [disabled]="gridDisabled()"
>
  <thead class="sticky top-0 z-10 bg-neutral-50 text-xs text-neutral-500">
    <tr ngGridRow>
      @for (col of columns(); track col.key) {
        <th
          ngGridCell
          class="default-border-color border-b bg-neutral-50 px-4 py-2 font-medium whitespace-nowrap outline-none"
          [style.width]="col.width"
          [style.text-align]="col.align || 'left'"
        >
          {{ col.header }}
        </th>
      }
    </tr>
  </thead>
  <tbody class="divide-y divide-neutral-100">
    @if (loading()) {
      <tr>
        <td class="p-8 text-center" [attr.colspan]="columns().length">
          <ui-loading class="inline-block" [width]="32" [height]="32" />
        </td>
      </tr>
    } @else if (data().length) {
      @for (row of data(); track row[trackField()]; let i = $index) {
        <tr ngGridRow [class]="rowClass() ? rowClass()!(row, i) : ''">
          @for (col of columns(); track col.key; let j = $index) {
            <td
              ngGridCell
              class="px-4 py-2 whitespace-nowrap text-neutral-900"
              [style.text-align]="col.align || 'left'"
              [rowIndex]="i"
              [colIndex]="j"
              (selectedChange)="onSelectedChange()"
            >
              @let value = row | tableValueGetter: col : i;

              @switch (col.type) {
                @case ('date') {
                  {{ value | date: 'dd.MM.yyyy HH:mm' }}
                }
                @case ('number') {
                  {{ value | number }}
                }
                @case ('badge') {
                  <ui-badge [variant]="getBadgeVariant(col, value)">
                    {{ getBadgeLabel(col, value) }}
                  </ui-badge>
                }
                @case ('document-badge') {
                  <app-document-status [status]="$any(value)" />
                }
                @case ('template') {
                  @if (templates()?.[$any(col).templateName]) {
                    <ng-container
                      *ngTemplateOutlet="
                        templates()![$any(col).templateName];
                        context: { $implicit: row, index: i }
                      "
                    />
                  }
                }
                @default {
                  {{ value }}
                }
              }
            </td>
          }
        </tr>
      }
    } @else {
      <tr>
        <td [attr.colspan]="columns().length">
          <div class="flex h-32 w-full items-center justify-center text-neutral-500">
            <span>Нет данных</span>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
