@reference './../../../../styles.css';

.ui-table {
  thead {
    @apply default-border-color border-b bg-slate-50;

    th {
      @apply px-4 py-3 text-left text-xs font-medium tracking-wider text-slate-600 uppercase;
    }
  }

  tbody {
    td {
      @apply px-4 py-3 text-sm text-slate-700;
    }
  }
}
