@reference './../../../../styles.css';

th {
  @apply min-w-[100px] border border-gray-300 bg-gray-50 px-2 py-1 text-left font-semibold text-gray-800 outline-none select-none;
}

tr {
  @apply bg-white;
  /* Highlight row on hover or when any cell inside has focus */

  &:has(> td.active) {
    @apply bg-primary-100;
  }
}

td {
  @apply border border-gray-300 px-2 py-1 text-gray-800 outline-none;

  &.active {
    outline: 2px solid var(--color-primary-400);
    outline-offset: -2px;
  }
}

.empty-state {
  @apply flex h-32 w-full items-center justify-center bg-gray-50 text-gray-500;
}
