@reference './../../../../styles.css';

tr {
  &:has(> td[data-active='true']) {
    @apply bg-primary-50;
  }
}

td {
  &[data-active='true'] {
    @apply outline-primary-400 outline-2 -outline-offset-2;
  }
}
