@reference './../../../../styles.css';

tr,
td {
  @apply outline-none;
}

th {
  @apply default-border-color border-b bg-slate-50 px-4 py-3 font-medium tracking-wider whitespace-nowrap text-slate-600 uppercase;
}

tr {
  &:not(:last-child) td {
    @apply default-border-color border-b;
  }

  &:has(> td[data-active='true']) {
    @apply bg-primary-50;
  }
}

td {
  &[data-active='true'] {
    @apply inset-ring-primary-200 inset-ring-2;
  }
}
