@reference './../../../../styles.css';

ui-table {
  th {
    @apply border-b border-slate-200 px-4 py-3 whitespace-nowrap;
  }

  tr {
    @apply hover:bg-slate-50/50;
  }

  td {
    @apply border-b border-slate-100 px-4 py-2 whitespace-nowrap text-slate-900;
  }

  tbody tr:last-child td {
    @apply border-b-0;
  }
}
