@reference './../../../../styles.css';

tr,
td {
  @apply outline-none;
}

tr {
  &:has(> td[data-active='true']) {
    @apply bg-primary-50;
  }
}

td {
  &[data-active='true'] {
    @apply inset-ring-primary-200 inset-ring-2;
  }
}
