@reference "../../../../styles.css";

.ui-switch {
  @apply relative inline-flex h-6 w-11 shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out;
  @apply focus-ring bg-slate-200;

  &.ui-switch-checked {
    @apply bg-primary-600;

    .ui-switch-thumb {
      @apply translate-x-5;
    }
  }

  &.ui-switch-disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.ui-switch-thumb {
  @apply pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow-sm ring-0 transition duration-200 ease-in-out;
  @apply translate-x-0;
}
