<ul ngTree #tree="ngTree" [(values)]="selectionValues" class="ui-tree">
    <ng-template [ngTemplateOutlet]="treeNodes" [ngTemplateOutletContext]="{ nodes: items(), parent: tree }" />
</ul>

<ng-template #treeNodes let-nodes="nodes" let-parent="parent">
    @for (node of nodes; track node.id) {
    <li ngTreeItem [parent]="parent" [value]="node.id" [label]="node.name" #treeItem="ngTreeItem" class="ui-tree-item">
        <div class="ui-tree-item-content">
            @if (node.children?.length) {
            <button type="button" class="ui-tree-item-toggle outline-none"
                (click)="$event.stopPropagation(); treeItem.expanded.set(!treeItem.expanded())"
                [attr.aria-label]="treeItem.expanded() ? 'Collapse' : 'Expand'">
                <ui-icon [class.rotate-90]="treeItem.expanded()" class="transition-transform duration-200"
                    name="chevron-right" size="16" />
            </button>
            } @else {
            <div class="ui-tree-item-spacer"></div>
            }

            <ui-icon [name]="node.children?.length ? 'folder' : 'file-text'" class="ui-tree-item-icon" size="18" />

            <span class="ui-tree-item-label font-medium">{{ node.name }}</span>
        </div>
    </li>

    @if (node.children?.length) {
    <ul role="group" class="ui-tree-group">
        <ng-template ngTreeItemGroup [ownedBy]="treeItem" #group="ngTreeItemGroup">
            <ng-template [ngTemplateOutlet]="treeNodes"
                [ngTemplateOutletContext]="{ nodes: node.children, parent: group }" />
        </ng-template>
    </ul>
    }
    }
</ng-template>