<div #tree="ngTree" ngTree class="ui-tree" [nav]="true" [(values)]="selected">
  <ng-template
    [ngTemplateOutlet]="treeNodeTemplate"
    [ngTemplateOutletContext]="{ nodes: items(), parent: tree }"
  />
</div>

<ng-template #treeNodeTemplate let-nodes="nodes" let-parent="parent">
  @for (node of nodes; track node.id) {
    <a
      #treeItem="ngTreeItem"
      ngTreeItem
      routerLinkActive="active"
      class="ui-tree-item"
      [queryParams]="node.queryParams"
      [queryParamsHandling]="node.queryParamsHandling"
      [value]="node.id"
      [parent]="parent"
      [routerLink]="node.routerLink"
      [label]="node.label"
      [routerLinkActiveOptions]="{ exact: true }"
      [(expanded)]="node.expanded"
    >
      @if (node.icon) {
        <ui-icon [name]="node.icon"></ui-icon>
      }

      <span>{{ node.label }}</span>

      @if (node.children.length) {
        <ui-icon
          name="outline-chevron-down"
          class="ms-auto transition-transform duration-200"
          [class.-rotate-90]="!node.expanded"
        ></ui-icon>
      }
    </a>

    @if (node.children.length) {
      <ul role="group" class="default-border-color ms-7 border-s ps-2">
        <ng-template #group="ngTreeItemGroup" ngTreeItemGroup [ownedBy]="treeItem">
          <ng-template
            [ngTemplateOutlet]="treeNodeTemplate"
            [ngTemplateOutletContext]="{ nodes: node.children, parent: group }"
          />
        </ng-template>
      </ul>
    }
  }
</ng-template>
