@if (!hidden()) {
  @if (label()) {
    <label class="ui-form-label" [for]="id()">
      <span>{{ label() }} </span>

      @if (required()) {
        <em class="text-red-500">*</em>
      }

      @if (readonly()) {
        <span>(readonly)</span>
      }
    </label>
  }

  <div class="relative">
    <input
      class="ui-form-control"
      [attr.aria-label]="label()"
      [attr.enterkeyhint]="enterKeyHint()"
      [attr.inputmode]="inputMode()"
      [autocomplete]="autocomplete()"
      [id]="id()"
      [name]="name()"
      [placeholder]="placeholder()"
      [spellcheck]="spellCheck()"
      [type]="type()"
      [value]="value()"
      [disabled]="disabled()"
      [readonly]="readonly()"
      [class.invalid]="invalid()"
      [attr.aria-invalid]="invalid()"
      (input)="onInput($event.target)"
      (blur)="touched.set(true)"
    />

    @if (loading()) {
      <div class="absolute top-1/2 right-2 z-20 -translate-y-1/2 text-neutral-400">
        <ui-loading height="18" width="18" />
      </div>
    }
  </div>

  @if (invalid()) {
    @for (error of errors(); track error) {
      <small class="text-xs text-red-400">{{ error.message }}</small>
    }
  }

  @if (disabled() && disabledReasons().length > 0) {
    @for (reason of disabledReasons(); track reason) {
      <small class="text-xs text-neutral-400">{{ reason.message }}</small>
    }
  }
}
