@if (!hidden()) {
  @if (label()) {
    <label class="ui-form-label" [for]="id()">
      <span>{{ label() }} </span>

      @if (required()) {
        <em class="text-red-500">*</em>
      }

      @if (readonly()) {
        <span>(readonly)</span>
      }
    </label>
  }

  <input
    class="ui-form-control"
    [attr.aria-label]="label()"
    [attr.enterkeyhint]="enterKeyHint()"
    [attr.inputmode]="inputMode()"
    [autocomplete]="autocomplete()"
    [id]="id()"
    [name]="name()"
    [placeholder]="placeholder()"
    [readOnly]="readonly()"
    [spellcheck]="spellCheck()"
    [type]="type()"
    [value]="value()"
    [disabled]="disabled()"
    [readonly]="readonly()"
    [class.invalid]="invalid()"
    [attr.aria-invalid]="invalid()"
    (input)="onInput($event.target)"
    (blur)="touched.set(true)"
  />

  @if (invalid()) {
    @for (error of errors(); track error) {
      <small class="text-xs text-red-400">{{ error.message }}</small>
    }
  }

  @if (disabled() && disabledReasons().length > 0) {
    @for (reason of disabledReasons(); track reason) {
      <small class="text-xs text-gray-400">{{ reason.message }}</small>
    }
  }
}
