@reference './../../../../styles.css';

label {
  @apply text-xs text-gray-400 select-none;
}

input {
  @apply w-full rounded-sm border border-gray-300 bg-white px-2 py-1 text-sm text-gray-800 transition-all outline-none;
}

input:focus,
input:focus-visible,
input:focus-within {
  @apply focus-ring bg-primary-50 border-gray-300;
}

input::placeholder {
  @apply text-gray-400 italic;
}

input:disabled {
  @apply cursor-not-allowed bg-gray-100 text-gray-400;
}
