@if (items()?.length) {
  <ng-template
    [cdkConnectedOverlayOpen]="visible()"
    [cdkConnectedOverlay]="{ origin: origin(), usePopover: 'inline' }"
    [cdkConnectedOverlayPositions]="overlayPositions()"
    [cdkConnectedOverlayPush]="true"
  >
    <div #ngMenu="ngMenu" ngMenu class="ui-menu">
      <ng-template ngMenuContent>
        @for (item of items(); track item) {
          @if ('id' in item) {
            <div
              #cdkOverlayOrigin="cdkOverlayOrigin"
              ngMenuItem
              cdkOverlayOrigin
              class="ui-menu-item"
              [value]="item.id"
              [submenu]="subMenu.menu()"
            >
              <span>{{ item.label }}</span>

              @if (item.items?.length) {
                <ui-icon name="chevron-right" [width]="14" [height]="14"></ui-icon>
              }
            </div>

            <ui-menu
              #subMenu
              [overlayPositions]="[
                { originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6 },
              ]"
              [items]="item.items"
              [origin]="cdkOverlayOrigin"
              [visible]="ngMenu.visible()"
            />
          } @else if ('divider' in item) {
            <hr role="separator" class="border-gray-200" />
          }
        }
      </ng-template>
    </div>
  </ng-template>
}
