@if (purchase.hasValue()) {
  <div class="flex items-center justify-between gap-4">
    <ui-title
      withBackBtn
      [title]="`Закупка ${purchase.value().code}`"
      [caption]="`ID: ${purchase.value().id}`"
    />

    @if (purchase.value().status === 'DRAFT') {
      <div class="space-x-4">
        <button uiButton icon="outline-checks" variant="primary" (click)="complete()">
          Провести
        </button>
        <button uiButton icon="outline-edit" variant="secondary" (click)="edit()">
          Редактировать
        </button>
      </div>
    } @else if (purchase.value().status === 'COMPLETED') {
      <button uiButton icon="outline-cancel" variant="danger" (click)="revert()">
        Отменить проведение
      </button>
    }
  </div>

  <section class="grid grid-cols-3 gap-4">
    <ui-card class="col-span-2 space-y-4 p-4">
      <h2 class="font-medium">Общая информация</h2>

      <ui-list columnCount="2">
        <ui-list-item label="Склад">{{ purchase.value().store.name }}</ui-list-item>
        <ui-list-item label="Поставщик">{{ purchase.value().vendor?.name }}</ui-list-item>
        <ui-list-item label="Количество позиций">{{ purchase.value().items.length }} </ui-list-item>
        <ui-list-item label="Дата документа">{{ purchase.value().date | date }}</ui-list-item>
        <ui-list-item label="Создан">{{ purchase.value().createdAt | date }}</ui-list-item>
        <ui-list-item label="Изменен">{{ purchase.value().updatedAt | date }}</ui-list-item>

        @if (purchase.value().notes) {
          <ui-list-item label="Примечания">
            <p>{{ purchase.value().notes }}</p>
          </ui-list-item>
        }
      </ui-list>
    </ui-card>

    <ui-card class="max-h-80 overflow-scroll p-4">
      <app-document-history-list
        [data]="purchase.value().documentHistory"
        [productMap]="productMap()"
      />
    </ui-card>
  </section>

  @if (priceTypes.hasValue()) {
    <ui-card>
      <div
        class="default-border-color flex items-center justify-between border-b bg-slate-50/50 p-4"
      >
        <h3 class="font-medium">Список товаров</h3>
        @if (purchase.value().status === 'DRAFT') {
          <button uiButton variant="secondary" size="sm" icon="outline-plus" (click)="addItem()">
            Добавить товар
          </button>
        }
      </div>

      <ui-table [dataSource]="purchase.value().items">
        <ng-container cdkColumnDef="product">
          <th *cdkHeaderCellDef cdk-header-cell>Товар</th>
          <td *cdkCellDef="let element" cdk-cell class="font-semibold">
            {{ element.product.name }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="quantity">
          <th *cdkHeaderCellDef cdk-header-cell>Кол-во</th>
          <td *cdkCellDef="let element" cdk-cell>
            {{ element.quantity | number }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="price">
          <th *cdkHeaderCellDef cdk-header-cell>Цена закупки</th>
          <td *cdkCellDef="let element" cdk-cell>
            {{ element.price | currency }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="total">
          <th *cdkHeaderCellDef cdk-header-cell>Сумма</th>
          <td *cdkCellDef="let element" cdk-cell class="font-medium">
            {{ element.total | currency }}
          </td>
        </ng-container>

        @for (priceType of priceTypes.value(); track priceType.id) {
          <ng-container [cdkColumnDef]="priceType.id">
            <th *cdkHeaderCellDef cdk-header-cell>{{ priceType.name }}</th>
            <td *cdkCellDef="let element" cdk-cell>
              @let priceChangeItem = priceChangeItemsMap()[element.productId]?.[priceType.id];

              @if (priceChangeItem) {
                <!--todo fix-->
                @let newValue = $any(priceChangeItem).newValue | toNumber;
                @let oldValue = $any(priceChangeItem).oldValue | toNumber;
                @let percent = oldValue === 0 ? 0 : ((newValue - oldValue) / oldValue) * 100;

                <div class="w-fit text-end">
                  <div class="flex gap-2">
                    <div class="text-primary-500 text-sm font-semibold">
                      {{ newValue | currency }}
                    </div>

                    @if (percent) {
                      <div class="text-primary-300 flex items-center gap-0.5 text-xs font-semibold">
                        <ui-icon name="outline-trending-up" />
                        <span>{{ percent }} %</span>
                      </div>
                    } @else {
                      <ui-badge variant="processing" size="xs">Новая</ui-badge>
                    }
                  </div>

                  @if (oldValue) {
                    <div class="text-xs text-slate-500 line-through">
                      было: {{ oldValue | currency }}
                    </div>
                  }
                </div>
              } @else {
                -
              }
            </td>
          </ng-container>
        }

        <ng-container cdkColumnDef="actions">
          <th *cdkHeaderCellDef cdk-header-cell class="w-10"></th>
          <td *cdkCellDef="let item" cdk-cell>
            <div class="flex justify-end gap-2">
              <button
                class="text-slate-400 transition-colors hover:text-blue-500"
                (click)="editItem(item)"
              >
                <ui-icon name="outline-pencil" size="sm" />
              </button>
              <button
                class="text-slate-400 transition-colors hover:text-red-500"
                (click)="removeItem(item)"
              >
                <ui-icon name="outline-trash" size="sm" />
              </button>
            </div>
          </td>
        </ng-container>

        <tr *cdkHeaderRowDef="displayedColumns()" cdk-header-row></tr>
        <tr *cdkRowDef="let row; columns: displayedColumns()" cdk-row></tr>

        <tr *cdkNoDataRow>
          <td [attr.colspan]="displayedColumns().length">
            <ui-empty-state
              title="Список товаров пуст"
              icon="outline-box"
              description="Добавьте товар, чтобы начать"
            />
          </td>
        </tr>
      </ui-table>
    </ui-card>
  }
}
