@reference './../../../../styles.css';

.ui-button {
  @apply inline-flex cursor-pointer items-center justify-center gap-2 border border-transparent outline-none;
  @apply default-transition rounded-squircle focus-ring rounded-lg leading-none active:scale-[0.98];
  @apply font-medium;

  /* variants */
  &.ui-button-variant-primary {
    @apply bg-primary-600 hover:bg-primary-700 text-white;
  }

  &.ui-button-variant-secondary {
    @apply border-slate-200 text-slate-700 hover:bg-slate-50;
  }

  &.ui-button-variant-ghost {
    @apply text-slate-700 hover:bg-slate-100;
    &.active {
      @apply bg-primary-50 text-primary-600;
    }
  }

  &.ui-button-variant-danger {
    @apply bg-red-50 text-red-700 hover:bg-red-100;
  }

  &.ui-button-variant-link {
    @apply text-primary-600 h-auto border-transparent bg-transparent p-0 hover:underline;
  }

  &.ui-button-variant-dashed {
    @apply border-2 border-dashed border-slate-200 bg-transparent text-slate-500;
    @apply hover:bg-primary-50/50 hover:border-emerald-300 hover:text-emerald-600;
  }

  /* sizes */
  &.ui-button-size-sm {
    @apply px-3 py-1.5 text-sm;
  }

  &.ui-button-size-md {
    @apply px-4 py-2.5 text-sm;
  }

  &.ui-button-size-lg {
    @apply px-6 py-3.5 text-base;
  }

  /* Square icon state */
  &.ui-button-icon-only {
    @apply aspect-square gap-0 p-0;

    &.ui-button-size-sm {
      @apply h-8 w-8;
    }

    &.ui-button-size-md {
      @apply h-10 w-10;
    }

    &.ui-button-size-lg {
      @apply h-12 w-12;
    }

    ui-icon,
    ui-loading {
      @apply m-0 p-0;
    }
  }

  &.ui-button-disabled {
    @apply pointer-events-none opacity-50;
  }
}
