@import 'tailwindcss';

@import './styles/components/_form.css';
@import './styles/components/_menu.css';
@import './styles/components/_list.css';
@import './styles/components/_tab.css';
@import './styles/components/_notyf.css';

@theme {
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  --color-primary-50: var(--color-emerald-50);
  --color-primary-100: var(--color-emerald-100);
  --color-primary-200: var(--color-emerald-200);
  --color-primary-300: var(--color-emerald-300);
  --color-primary-400: var(--color-emerald-400);
  --color-primary-500: var(--color-emerald-500);
  --color-primary-600: var(--color-emerald-600);
  --color-primary-700: var(--color-emerald-700);
  --color-primary-800: var(--color-emerald-800);
  --color-primary-900: var(--color-emerald-900);
  --color-primary-950: var(--color-emerald-950);

  --shadow-soft-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-soft-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@layer base {
  body {
    @apply selection:bg-primary-100 bg-slate-50 antialiased text-shadow-slate-900;
  }
}

@utility absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-1/2;
}

@utility rounded-squircle {
  @supports (corner-shape: squircle) {
    corner-shape: squircle;
    border-radius: 90px !important;
  }
}

@utility default-transition {
  @apply transition duration-200;

  &.cdk-drag-dragging {
    @apply transition-none;
  }
}

@utility focus-ring {
  @apply focus-visible:ring-primary-500 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none;
}

@utility default-border-color {
  @apply border-slate-200;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-200/50 hover:bg-slate-300;
  }
}
