@import 'tailwindcss';

@import './styles/core/_colors.css';
@import './styles/core/_typography.css';

@import './styles/components/_form.css';
@import './styles/components/_menu.css';
@import './styles/components/_list.css';
@import './styles/components/_checkbox.css';
@import './styles/components/_badge.css';
@import './styles/components/_tab.css';
@import './styles/components/_notyf.css';

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary-50: var(--color-emerald-50);
  --color-primary-100: var(--color-emerald-100);
  --color-primary-200: var(--color-emerald-200);
  --color-primary-300: var(--color-emerald-300);
  --color-primary-400: var(--color-emerald-400);
  --color-primary-500: var(--color-emerald-500);
  --color-primary-600: var(--color-emerald-600);
  --color-primary-700: var(--color-emerald-700);
  --color-primary-800: var(--color-emerald-800);
  --color-primary-900: var(--color-emerald-900);
  --color-primary-950: var(--color-emerald-950);
}

@layer base {
  html,
  body {
    @apply selection:bg-primary-100;
  }
}

@utility absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-1/2;
}

@utility rounded-squircle {
  @supports (corner-shape: squircle) {
    corner-shape: squircle;
    border-radius: 90px !important;
  }
}

@utility text-muted {
  @apply text-slate-400;
}

@utility default-transition {
  @apply transition duration-200;

  &.cdk-drag-dragging {
    @apply transition-none;
  }
}

@utility default-border-color {
  @apply border-slate-200;
}
