@import 'tailwindcss';

@import './styles/components/_button.css';
@import './styles/components/_form.css';
@import './styles/components/_menu.css';

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary-50: var(--color-emerald-50);
  --color-primary-100: var(--color-emerald-100);
  --color-primary-200: var(--color-emerald-200);
  --color-primary-300: var(--color-emerald-300);
  --color-primary-400: var(--color-emerald-400);
  --color-primary-500: var(--color-emerald-500);
  --color-primary-600: var(--color-emerald-600);
  --color-primary-700: var(--color-emerald-700);
  --color-primary-800: var(--color-emerald-800);
  --color-primary-900: var(--color-emerald-900);
  --color-primary-950: var(--color-emerald-950);
}

@utility rounded-squircle {
  @supports (corner-shape: squircle) {
    corner-shape: squircle;
    border-radius: 90px !important;
  }
}

@utility text-muted {
  @apply text-neutral-400;
}

@utility default-transition {
  @apply transition duration-200;

  &.cdk-drag-dragging {
    @apply transition-none;
  }
}

@utility default-border-color {
  @apply border-neutral-200;
}

@utility typo-h1 {
  @apply text-2xl font-bold;
}
