<nav aria-label="Breadcrumb" class="flex items-center text-sm text-slate-500">
  @for (item of items(); track $index; let last = $last) {
    <div class="flex items-center">
      @if (!last && item.url) {
        <a class="hover:text-primary-600" [routerLink]="item.url">
          {{ item.label }}
        </a>
      } @else {
        <span [class.font-medium]="last" [class.text-slate-900]="last">
          {{ item.label }}
        </span>
      }

      @if (!last) {
        <ui-icon name="outline-chevron-right" width="16" height="16" class="mx-2 text-slate-400" />
      }
    </div>
  }
</nav>
