<!-- Header -->
<div class="flex items-center justify-between">
  <div class="flex items-center gap-3">
    <ng-content select="[before-title]" />
    <h1 class="typo-h1">{{ title() }}</h1>
  </div>
  <ng-content select="[header-actions]" />
</div>

<ng-content select="[after-title]" />

<div class="flex flex-1 gap-4 overflow-hidden">
  <!-- Main Content: Table -->
  <ui-card class="flex-1 overflow-hidden">
    <!-- Toolbar -->
    <div class="default-border-color flex items-center justify-between border-b p-2">
      <div class="flex items-center gap-2">
        <button uiButton variant="ghost" icon="outline-plus" size="sm" (click)="handleCreate()">
          Создать
        </button>

        @if (showDetail()) {
          <button
            uiButton
            variant="ghost"
            icon="outline-eye"
            size="icon"
            [disabled]="!selectedItem()"
            (click)="handleDetail()"
          >
            <span class="sr-only">Открыть карточку</span>
          </button>
        }

        @if (showEdit()) {
          <button
            uiButton
            variant="ghost"
            icon="outline-edit"
            size="icon"
            [disabled]="!selectedItem()"
            (click)="handleEdit()"
          >
            <span class="sr-only">Редактировать</span>
          </button>
        }

        @if (showDelete()) {
          <button
            uiButton
            variant="danger"
            icon="outline-trash"
            size="icon"
            [disabled]="!selectedItem()"
            (click)="handleDelete()"
          >
            <span class="sr-only">Удалить</span>
          </button>
        }

        <ng-content select="[toolbar-actions]" />

        <!-- v-line -->
        <div class="mx-1 h-4 w-px bg-neutral-300"></div>

        @if (isSearchVisible()) {
          <div
            class="animate-in fade-in slide-in-from-right-4 flex items-center gap-1 duration-300"
          >
            <ui-input
              type="search"
              placeholder="Поиск..."
              class="w-64"
              [formField]="formData.query"
            />
            <button uiButton variant="ghost" icon="outline-x" size="icon" (click)="toggleSearch()">
              <span class="sr-only">Очистить поиск</span>
            </button>
          </div>
        } @else {
          <button uiButton variant="ghost" icon="outline-search" size="sm" (click)="toggleSearch()">
            Найти
          </button>
        }
      </div>
    </div>

    <!-- Table -->
    <ui-table
      [columns]="columns()"
      [data]="data()"
      [trackField]="trackField()"
      [loading]="isLoading()"
      (selectedChanged)="selectedItem.set($event)"
    />
  </ui-card>
</div>
